---
import { writeFileSync } from "node:fs";
import { randomUUID } from "node:crypto";

import Default from "../layouts/Default.astro";
import ReportForm from "../components/ReportForm.astro";
import Image from "../components/Image.astro";
import {
  Report,
  db,
} from "astro:db";


if (Astro.request.method == "POST") {
  const data = await Astro.request.formData();
  const category = data.get("category");
  const address = data.get("address");
  const file = data.get("image");

  let image = null;

  if (file && file.name && file.arrayBuffer) {
    const buffer = Buffer.from(await file.arrayBuffer());
    const extension = file.name.split(".").pop();
    const filename = `${randomUUID()}.${extension}`;
    const outputPath = `public/images/${filename}`;

    writeFileSync(outputPath, buffer);
    image = `/images/${filename}`;
  }

  await db.insert(Report).values({
    category,
    address,
    image,
  });
}

const reports = await db.select().from(Report);
---
<Default>
  <p class="pb-2 text-2xl font-bold">Generated Reports</p>
  <div class="border border-base-300 rounded-box overflow-x-auto">
    <table class="text-center table table-pin-rows">
      <thead>
        <tr>
          <th>Category</th>
          <th>Address</th>
          <th>Date Created</th>
          <th>Image</th>
          <th>Resolved</th>
        </tr>
      </thead>

      <tbody>
        {
          reports.map(report => (
            <tr>
              <td>{report.category}</td>
              <td>{report.address}</td>
              <td>{report.createdAt.toLocaleString()}</td>
              <td>
                {
                  report.image ?
                  <span>
                    <p class="link" onclick=`img${report.id}_modal.showModal()`>Show</p>
                    <Image id=`img${report.id}_modal` path={report.image} />
                  </span> :
                  <p>N/A</p>
                }
              </td>
              <td>{report.resolved ? "✔" : "✘"}</td>
            </tr>
          ))
        }
      </tbody>
    </table> 
  </div>

  <div class="absolute right-2 bottom-2">
    <button class="btn btn-secondary btn-sm" onclick="report_form.showModal()">+ Add Report</button>
    <ReportForm id="report_form" />
  </div>
</Default>
